:root {
    /* Colors */
    --color-red-900: #690101;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-gray-100: #EFEFEF;
    --color-gray-200: #DCDCDC;
    --color-gray-300: #BDBDBD;
    --color-gray-400: #989898;
    --color-red-100: #FFDADA;
    --color-red-800: #BC0000;
    
    /* Letter spacing */
    --letter-spacing-overline: 0.09375em;
    --letter-spacing-button: 0.07813em;
    --letter-spacing-h4: 0.01563em;
    --letter-spacing-h6: 0.00938em;
    --letter-spacing-body-text: 0.03125em;
    --letter-spacing-small-body-text: 0.01563em;

    /* Border radius button */
    --radius-button: 50%;

    /* Font family */
    --font-family-heading-sans-serif: proxima-nova, sans-serif;
    --font-family-body: proxima-nova, sans-serif;
    --font-family-headings-serif: ivypresto-display, serif;

    /* Font scale heading */
    --font-size-h6: 1.25rem;
    --font-size-h5: 1.563rem;
    --font-size-h4: 2rem;
    --font-size-h3: 2.5rem;
    --font-size-h2: 3.063rem;
    --font-size-display-heading: 3.875rem;

    /* Font scale body text */
    --font-size-body: 1rem;
    --font-size-small-body: 0.875rem;
    --font-size-overline: 0.625rem;
    --font-size-button: 1rem;

    /* Line height */
    --line-height-h6: 1.875rem;
    --line-height-small-body: 1.063rem;
    --line-height-body: 1.188rem;

    /* Aliases */
    --hover-tag-dark-red: var(--color-red-900);
    --tag-light-pink: var(--color-red-100);
    --auction-end-text: var(--color-red-800);
    --divider-line-color: var(--color-gray-200);
    --placeholder-text: var(--color-gray-400);
    --serif-heading: var(--font-family-headings-serif);
    }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.light{
    background-color: white;
}
.dark{
    background-color: rgb(239, 239, 239);
}


/*  Typescale */

h1{
    font-family: var(--serif-heading);
    font-size: var(--font-size-display-heading);
    text-transform: uppercase;
    font-weight: 400;
}
h2{
    font-family: var(--serif-heading);
    font-size: var(    --font-size-h2);
    text-transform: uppercase;
    font-weight: 400;
}
h3{
    font-family: var(--serif-heading);
    font-size: var(    --font-size-h3);
    text-transform: uppercase;
    font-weight: 400;
}
h4{
    font-family: var(  --font-family-heading-sans-serif);
    font-size: var(--font-size-h4);
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing-h4);
}
h5{
    font-family: var(  --font-family-heading-sans-serif);
    font-size: var(--font-size-h5);
    font-weight: 400;
    text-transform: uppercase;
}
h6{
    font-family: var(--serif-heading);
    font-size: var(--font-size-h6);
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: var(--letter-spacing-h6);
    line-height: var( --line-height-h6);
}
.bodyText{
    font-family: var(--font-family-body);
    font-size: var(--font-size-body);
    letter-spacing: var(--letter-spacing-body-text);
    line-height: var(--line-height-body);
}
.smallBody{
    font-family: var(--font-family-body);
    font-size: var(--font-size-small-body);
    letter-spacing: var(--letter-spacing-small-body-text);
    line-height: var(--line-height-small-body);
}
.buttonText{
    font-family: var(--font-family-body);
    font-size: var(--font-size-button);
    letter-spacing: var(--letter-spacing-button);
    text-transform: uppercase;
    font-weight: 500;
}
.overline{
    font-family: var(--font-family-body);
    font-size: var(--font-size-overline);
    letter-spacing: var(--letter-spacing-overline);
    text-transform: uppercase;
}

.buttonsLayout{
    display: flex;
    gap: 3rem;
}