---
import Layout from "../layouts/Layout.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import PrimaryBtnBig from "../components/PrimaryBtnBig.astro"
import SecondaryBtnBig from "../components/SecondaryBtnBig.astro"
import PrimaryBtnSmall from "../components/PrimaryBtnSmall.astro"
import SecondaryBtnSmall from "../components/SecondaryBtnSmall.astro"
import Carousel from "../components/Carousel.astro"
import Gridcard from "../components/Gridcard.astro"
import Singlecard  from "../components/Singlecard.astro"
---

<Layout>
    <Header/>
    <section class="light">
        <h2 class="titel">Headings</h2>
        <h1>Display Heading</h1>
        <h2>Heading 2</h2>
        <h3>Heading 3</h3>
        <h4>Heading 4</h4>
        <h5>Heading 5</h5>
        <h6>Heading 6</h6>
    </section>

    <section class="dark">
        <div class="bodyText">
            <p>Body</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque impedit mollitia harum esse facere, magnam quod, maiores quas eligendi id quidem cum laborum magni alias assumenda ab est cumque qui.</p>
        </div>

        <div class="smallBody">
            <p>Small body</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque impedit mollitia harum esse facere, magnam quod, maiores quas eligendi id quidem cum laborum magni alias assumenda ab est cumque qui.</p>
        </div>

        <div class="buttonText">
            <p>Button</p>
        </div>

        <div class="overline">
            <p>Overline</p>
        </div>
    </section>

    <section class="light buttonsLayout">
        <div class="buttonsLayout">
            <PrimaryBtnBig/>
        </div>
        <div class="buttonsLayout">
            <SecondaryBtnBig/>
        </div>
        <div class="buttonsLayout">
            <PrimaryBtnSmall/>
        </div>
        <div class="buttonsLayout">
            <SecondaryBtnSmall/>
        </div>
    </section>

    <section class="dark">
        <Carousel></Carousel>
    </section>
    
    <section>
        <h5>card</h5>
        <Gridcard />
    </section>
<section>
    
    <Singlecard/>
</section>

    <Footer />
</Layout>
