---
import Layout from "../layouts/Layout.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import Buttons from "../components/Buttons.astro";
---

<Layout>
    <Header />
    <section class="light">
        <h2 class="titel">Headings</h2>
        <h1>Display Heading</h1>
        <h2>Heading 2</h2>
        <h3>Heading 3</h3>
        <h4>Heading 4</h4>
        <h5>Heading 5</h5>
        <h6>Heading 6</h6>
    </section>

    <section class="dark">
        <h2 class="title">Body Text</h2>
        <div>
            <p>Body</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque impedit mollitia harum esse facere, magnam quod, maiores quas eligendi id quidem cum laborum magni alias assumenda ab est cumque qui.</p>
        </div>

        <div>
            <p>Small body</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque impedit mollitia harum esse facere, magnam quod, maiores quas eligendi id quidem cum laborum magni alias assumenda ab est cumque qui.</p>
        </div>

        <div>
            <p>Button</p>
        </div>

        <div>
            <p>Overline</p>
        </div>
    </section>

    <section class="light">
        <Buttons></Buttons>
    </section>
    <Footer />
</Layout>
