---
import Layout from "../layouts/Layout.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
---

<Layout>
    <Header />
    <article>
        <h2>Hello 2</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo ipsa voluptate at similique, ea optio. Quos officiis, expedita quas ea odit itaque quidem commodi repellat delectus ab culpa animi ipsam.</p>
    </article>
    <Footer />
</Layout>
