---
const icon = true;
---
<div class="buttonText">
    <a href="#">View Item</a>

    <button class="buttonText">Watch Item</button>
</div>

<style>
    a{
        background-color: black;
        color: white;
        text-decoration: none;
        padding: 7px 30px;
        border-radius: 20px;
        cursor: pointer;
    }
    a:hover{
        background-color: var(--hover-tag-dark-red);
    }
    button{
        background-color: white;
        color: black;
        text-decoration: none;
        padding: 7px 30px;
        border-radius: 20px;
        border: solid black 1px;
        cursor: pointer;
    }
    button:hover{
        color:var(--hover-tag-dark-red);
        border-color: var(--hover-tag-dark-red);
    }
</style>