<div>
    <a href="">View Item</a>
    
    <button>Watch Item</button>
</div>

<style>
    a{
        background-color: black;
        color: white;
        text-decoration: none;
        padding: 7px 30px;
        border-radius: 20px;
    }

    button{
        background-color: white;
        color: black;
        text-decoration: none;
        padding: 7px 30px;
        border-radius: 20px;
        border: solid black 1px;
    }
</style>