<a class="buttonText" href="">View Item </a>

<style>
    a{
        background-color: var(--color-black);
        color: var(--color-white);
        text-decoration: none;
        padding: 7px 30px;
        border-radius: 20px;
        cursor: pointer;
    }

    a:hover{
        background-color: var(--hover-tag-dark-red);
    }
</style>