<div title="deluxeTag" class="deluxe"><p>deluxe</p></div>

<style>
div.deluxe{
        padding: 0.1rem;
        margin: 0.5rem;
        width: 3.5rem;
        border-radius: 1rem;
        background-color: var(--hover-tag-dark-red);
        color: var(--tag-light-pink);
    }
    p{
        display: flex;
        justify-content: center;
        font-family:  var(--font-family-body);
        text-transform: uppercase;
        font-size: 0.6rem;
    }
</style>